/*Añadimos la funcion de RGB*/
@keyframes rgb {
    0% {
        color: rgb(255, 0, 0); /* Rojo */
    }
    40% {
        color: rgb(0, 255, 0); /* Verde */
    }
    75% {
        color: rgb(255, 255, 0); /* Amarillo */
    }
    100% {
        color: rgb(255, 0, 0); /* Regresar a rojo */
    }
  }
  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  html{   /*diseño la página web*/
    /*Añadimos imagen de fondo y ponemos que no se repita, que cubra toda la pagina, que nos siga al desplazarnos y que este centrado*/
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat; /*Evita que se repita*/
    background-size: cover; /*Cubre toda la pagina*/
    background-attachment: fixed; /*Sigue la camara o el enfoque de esta*/
    background-position: center;  /*Lo centra*/
    color: #FFF; /*Color de fuente (blanco)*/
    font-family: "Geo", sans-serif; /*Cambio de fuente a Arial (resulta viendose mejor)*/
    scroll-behavior: smooth; /*Hace un movimiento suave al deslizar*/
  }
  header, footer{ /*Modificaciones al encabezado (logo) y algo del footer*/
    background-color: #00379e;
    font-size: 2.5em; /*Tamaño de fuente un poco mas grande*/
    width: 100vw;
  }
  header{
    font-family: 'bangers', sans sherif;
    animation: rgb 10s infinite; /*Duración (10s) y repetición (infinite)*/
    display: flex;
    padding: 10px;
    position: top;
  }
  #titulo{
    margin-left: 10px;
  }
  #logo{
    width: 40px;
    height: 40px;
  }
  nav{
    background-color: #0447c4;
    text-align: center;
    font-size: 20px; 
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }
  nav ul{
      list-style: none; /*Elimina las viñetas en las listas*/
      display: flex; /*Hace que estén en una sola fila todos los li*/
      justify-content: center; /*Centra los objetos de la barra de nav*/
  }
  nav ul a li, nav ul a li :focus, nav ul a li :active{
      text-decoration: none; /*Elimina el subrayado*/
      color: #FFF;
      margin-right: 20px /*Añade espaciado entre las opciones*/
  }
  nav ul a li :last-child{    /*Evita que se haga el salto en el último item de lista*/
      margin-right: 0px;
  }
  nav ul a :hover{   /*El hover sirve para cuando selecciones el mouse el item de lista se seleccione en este caso de azul*/
      color: black;
  }
  footer{
    font-size: 15px;
    display: bottom;
    bottom: 0;
    left: 0;
  }
  section{
    font-size: 1.5em;
   background-color: #ff7e05;
    color: #FFF;
    padding: 10px;
    margin: 10px;
  }
  h3{
    padding: 10px;
    text-align: center;
    margin: 0px;
  }
  #s1{
    background-color: #7a05ff;
  }
  #s2{
    background-color: #e20303;
  }
  #s3{
    background-color: rgb(164, 164, 0);
  }
  #s4{
    background-color: #0F0;
  }
  #s5{
    background-color: #00F;
  }
  section div{
    font-size: 30px;
    background-color: #00000078;
    color: #FFF;
    box-shadow: 0px 0px 0px;
    text-align: justify;
  }
  div img{
    width: 150px;
    height: auto;
    place-items: center;
    margin: 10px;
  }
  .imgtext{
    display: grid;
    grid-template-columns: 200px auto;
  }
  .reverse{
    display: grid;
    grid-template-columns: auto 200px;
  }
  /*Añadimos soporte para móviles (achicamos todo)*/
  @media (max-width: 390px) {
      div img{
          width: 30px;
          height: auto;
          box-shadow: 0px 0px 3px #000;
          margin-right: 0px;
      }
      section{
        font-size: 1em;
      }
      .imgtext{
          grid-template-columns: 40px 350px;
      }
      .reverse{
          grid-template-columns: 350px 40px;
      }
      .imgtext p, .reverse p{
          margin-left: 2px;
          margin-right: 2px;
      }
      nav{
        font-size: 10px;
      }
      #logo{
        width: 25px;
        height: auto;
        margin-right: 10px;
      }
      header{
        font-size: 2em;
      }
      div p{
        font-size: 10px;
      }
      footer{
        font-size: 15px;
      }
      section{
        padding: 5px;
      }
  }
  
  /*Soporte para moviles más grandes (achicamos todo de manera leve)*/
  @media (max-width:700px){
      div img{
          width: 80px;
          height: auto;
          padding: 0px;
      }
      h3{
          padding: 0px;
          font-size: 40px;
      }
      section{
          padding: 10px;
      }
      div p{
          font-size: 20px;
      }
      .imgtext{
          grid-template-columns: 100px auto;
      }
      .reverse{
          grid-template-columns: auto 100px;
      }
  }