@keyframes bggray{
    0%{
        background-color: rgb(200, 200, 200); 
    }
    20%{
        background-color: rgb(175, 175, 175);
    }
    40%{
        background-color: rgb(150, 150, 150);
    }
    60%{
        background-color: rgb(175, 175, 175);
    }
    100%{
        background-color: rgb(200, 200, 200);
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    animation: bggray 10s infinite;
}
header{
    background-color: rgb(125, 125, 125);
    display: flex;
    align-items: center;
    padding: 20px 5px;
    width: 100vw;
}
#logo{
    width: 40px;
    height: auto;
}
header h1{
    margin-left: 10px;
    font-family: 'besley', sans-serif;
}
nav{
    background-color: rgb(100, 100, 100);
    padding: 10px 0px 10px 0px;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
nav ul a{
    text-decoration: none;
}
nav ul a li{
    color: #000; margin-right: 20px;
}
nav ul a li :last-child{
    margin: 0px;
}
section{
    background-color: rgb(225, 225, 225);
    margin: 20px 0 20px 0px;
    box-shadow: 0px 0px 10px;
    max-width: 1000px;
}
section :first-child{
    margin-top: 40px;
}
section :last-child{
    margin-bottom: 40px;
}
section h3{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    font-family: 'besley', sans-serif;
}
section div{
    align-items: center;
}
section div img{
    width: 60px;
    height: auto;
    align-self: center;
}
section div p{
    padding: 10px;
    text-align: justify;
    font-family: 'pridi', sans-serif;
}
.imgtext{
    display: grid;
    grid-template-columns: 70px auto;
}
.reverse{
    display: grid;
    grid-template-columns: auto 70px;
}
footer{
    background-color: rgb(125, 125, 125);
    padding: 20px 5px;
    text-align: center;
    position: bottom;
    width: 100vw;
    bottom: 0;
    left: 0;
    font-family: 'pridi', sans-serif;
}